<div class="container d-flex flex-column">
  <div class="title px-5 pt-3 pb-2">
    <h3>Login</h3>
  </div>
  <form class="login-form p-5">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="px-1 py-3">
    <p>Don't have an account yet? 
      <a href="/signup">Sign up now</a>
    </p>
</div>

<script src="/js/login.js"></script>