<div class="container d-flex flex-column mt-4">
  <div class="title px-5 pt-3 pb-2">
    <h3>New Post</h3>
  </div>
  <form class="new-form p-5">
    <div class="mb-3">
      <label for="inputPostTitle" class="form-label">Title</label>
      <textarea class="form-control" maxlength="100" id="inputPostTitle"></textarea>
    </div>
    <div class="mb-3">
      <label for="inputPostContent" class="form-label">Content</label>
      <textarea class="form-control" maxlength="1000" id="inputPostContent" rows="7"></textarea>
    </div>
    <div class="row">
      <div class="col d-flex flex-row justify-content-between">
        <button type="submit" class="btn btn-primary my-1" id="btn-submit-new-post">Add Post</button>
      </div>
    </div>
  </form>
</div>

<script src="/js/newPost.js"></script>