:root {
    --artichoke: #A3A380;
    --medium-champagne: #D6CE93;
    --beige: #EFEBCE;
    --tumbleweed: #D8A48F;
    --old-rose: #BB8588;
    --black: black;
    --white: white;
    --boader-radius: 5px;
}

.jumbotron {
    background-color: var(--artichoke);
    color: var(--white);
}

.title {
    background-color: var(--old-rose);
    color: var(--white);
    border-radius: var(--boader-radius) var(--boader-radius) 0 0;
}

.title a {
    color: var(--white);
}

form,
.content {
    border: 2px solid var(--old-rose);
    border-radius: 0 0 var(--boader-radius) var(--boader-radius);
}