:root {
  --artichoke: #a3a380;
  --medium-champagne: #d6ce93;
  --beige: #efebce;
  --tumbleweed: #d8a48f;
  --old-rose: #bb8588;
  --black: black;
  --white: white;
  --boader-radius: 5px;
}

.jumbotron {
  background-color: var(--artichoke);
  color: var(--white);
}

.title {
  background-color: var(--artichoke);
  color: var(--white);
  border-radius: var(--boader-radius) var(--boader-radius) 0 0;
}

.title-link {
  background-color: var(--old-rose);
  border-radius: var(--boader-radius) var(--boader-radius) var(--boader-radius)
    var(--boader-radius);
}

.title a {
  color: var(--white);
}

.login-form,
.signup-form,
.edit-form,
.new-form,
.content {
  border: 1px solid var(--artichoke);
  border-radius: 0 0 var(--boader-radius) var(--boader-radius);
  background-color: var(--beige);
}

.comment-by {
  background-color: var(--beige);
}

.sub-heading {
  color: var(--artichoke);
}

.btn-old-rose {
  background-color: var(--old-rose);
  color: var(--white);
}
